.trigger-container{
  height: 100%;
  width: 20px;
  float: left;
}

.trigger-container .menu-collapsed-trigger{
  font-size: 18px;
  line-height: 28px;
  margin-top: 32px;
  padding: 0 2px 0 2px;
  cursor: pointer;
  transition: color .3s;
  border-radius: 0 3px 3px 0;
  background: white;
  border:1px solid #eee;
}

.trigger-container .menu-collapsed-trigger:hover {
  color: #1890ff;
}
