<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B6C9DBA1F1CB5C900CB78D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6C9DCE1F1CB5C900CB78D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6C9DD91F1CB5CA00CB78D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
